<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="max-width: 600px; margin: auto; font-family: Arial, sans-serif; font-size: 15px; border: 1px solid #a0A51a; border-radius: 8px; overflow: hidden;">
      <div style="background-color: #0A96CC; color: white; padding: 16px; text-align: center;">
        <h2 style="margin: 0; font-size: 20px;">Your Payslip is Ready</h2>
      </div>
      <div style="padding: 20px; color: #333;">
        <p>Dear <strong>Zoran</strong>,</p>
        <p>
          We are pleased to inform you that your payslip for the period of
          <strong>${date}</strong> has been successfully generated.
        </p>
        <p>
          You can now log into your EMS portal to view or download your payslip.
        </p>

        <div style="text-align: center; margin: 24px 0;">
          <a href="https://lms.miro.zoracom.com/payslip" target="_blank"
            style="background-color: #0A96CC; color: white; padding: 12px 20px; text-decoration: none; border-radius: 6px; font-weight: bold; display: inline-block;">
            View Payslip
          </a>
        </div>

        <p>
          If you have any questions or notice any discrepancies, please reach
          out to the HR department.
        </p>
        <p>Thank you for your continued dedication and hard work.</p>
        <p>Best regards,</p>
        <p>
          <strong>${senderPosition}</strong><br />
          <strong>${company}</strong>
        </p>
        
      </div>
      <div style="background-color: #f8f9fa; color: #666; text-align: center; padding: 18px; font-size: 13px;">
        <p style="margin: 0;">&copy; ${createdAt} ${company}. All rights reserved.</p>
      </div>
    </div>
</body>
</html>